*{
  font-family: "JetBrains Mono", monospace;
  }

body {
  background-color: #0d131e;
  color: whitesmoke;
}

.main-container{
  padding: 2rem 1rem;
}

/* .header{
  display: flex;
  justify-content: flex-start; 
  text-align: center;
} */

.editor-header{
  display: flex;
  justify-content: flex-end;
  background-color: #252b2e;
  padding: 1rem 1rem;
  border-radius: 10px 10px 0px 0px;
}

.editor-content{
  border: "2px solid darkgray";
  font-family: '"Fira code", "Fira Mono", monospace';
  background-color: #272822;
  border-radius: 0px 0px 10px 10px;
}

.text-editor:focus-visible{
  outline: none
}

.text-editor-icons{
  height: 1.25rem;
  width: 2rem;
}





